@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
body{
    display: block;
    margin: 0px;
}
.header-logo{
    position: relative;
    width: 110px;
    height: 110px;
    left: 100px;
    top: 5px;
    border-radius: 100px;
    display: inline;
}
.container{
    display: block;
    height: 120px;
    background: #191919;
    box-shadow: 15px -12px 10px 20px rgba(0, 0, 0, 0.25);
}
.cart{
    position: relative;
    width: 39px;
    height: 39px;
    text-decoration: none;
    transition: all 1s ease;
    display: inline;
    float: right;
    top: 41px;
    right: 149px;
}
img.cartimg{
    transition: all 0.3s ease;
}
img.cartimg:hover{
    transform: scale(1.1);
}
.eat{
    position: relative;
    width: 39px;
    height: 39px;
    text-decoration: none;
    display: inline;
    float: right;
    top: 41px;
    right: 50px;
}
img.eatimg{
    transition: all 0.3s ease;
}
img.eatimg:hover{
    transform: scale(1.1);
}
.header-text-menu{
    position: relative;
    transition: 1s;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    text-decoration: none;
    float: right;
    color: #FFFFFF;
    display: inline;
    top: 41px;
    right: 313px;
}
.header-text-about{
    position: relative;
    transition: 1s;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    text-decoration: none;
    float: right;
    color: #FFFFFF;
    display: inline;
    top: 41px;
    right: 506px;
}
.header-text-menu:hover{
    color: #FBC101;
    cursor: pointer;
    transform: scale(1.1);
    transition: 1s;
}
.header-text-about:hover{
    color: #FBC101;
    cursor: pointer;
    transform: scale(1.1);
    transition: 1s;
}
img.logo{
    width: 700px;
    /*border-radius: 350px;*/
    outline: #191919 1px;
    float: left;
}
.text{
    width: auto;
    height: 400px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 59px;
    text-align: center;
    text-transform: uppercase;
    float: right;
}